body {
    padding: 0;
    margin: 0;
}

body * {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.main_menu {
    max-width: 550px;
    flex-grow: 1;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    color: #3f4244;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 18px 26px 16px;
    transition: .5s;
    border-radius: 5px;
}

.header ul li a:hover {
    color: #ffffff;
    transition: .5s;
    background-image: linear-gradient(to bottom, #6dffc6 1%, #3fd2ce 99%);
}

.main_menu_mobile {
    display: none;
}


/* header  */

.main {
    background-image: linear-gradient(to bottom, #6dffc6 1%, #3fd2ce 99%);
    padding: 270px 0 250px 0;
}

.main .main_title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    padding-bottom: 53px;
    text-align: center;
}

.main .show_then {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    background-image: linear-gradient(to bottom, #ff6c54 1%, #ff2b59 99%);
    padding: 30px 60px;
    border-radius: 5px;
    transition: .5s;
}

.main .show_then:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .5s;
}


/* main  */


.services .container {
    align-items: center;
    padding: 80px 0;

}

.menuServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.service {
    text-align: center;
    width: 20%;
    margin-bottom: 10%;

}


.sectionTitle {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(63, 66, 68);
    margin: 25px 0 45px;
}

.sectionText {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(146, 155, 160);
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.needService {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    background-image: linear-gradient(to bottom, #ff6c54 1%, #ff2b59 99%);
    padding: 30px 60px;
    border-radius: 5px;
    transition: .5s;
}

.needService:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .5s;
}


@media screen and (max-width:768px) {
    .container {
        max-width: 768px;
    }

    .header .container {
        display: block;
        padding: 5%;
    }

    .main_menu {
        padding: 6% 0 0 0;
        max-width: none;
    }

    .header ul li a {
        padding: 10% 16%;
    }

    .main {
        padding: 30% 15%;
    }

    .service {
        width: 45%;
    }

    .sectionTitle {
        margin: 15px 0 25px;
    }

    .sectionText {
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (max-width:420px) {
    .container {
        max-width: 420px;
    }

    .header .container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .main .show_then,
    .needService {
        padding: 15px 20px;
    }

    .main_menu {
        display: none;
    }

    .main .main_title {
        font-size: 40px;
        padding-bottom: 10%;
    }


    .main_menu_mobile {
        position: relative;
        display: inline-block;
        padding: 5% 0 0 0;
    }

    .dropbtn {
        background-image: linear-gradient(to bottom, #6dffc6 1%, #3fd2ce 99%);
        padding: 13px 40px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        color: white;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background: linear-gradient(to bottom, #6dffc6 20%, #3fd2ce 80%);
        color: white;
        border-radius: 5px;
    }

    .main_menu_mobile:hover .dropdown-content {
        display: block;
    }

    .service {
        width: 95%;
        margin: 5% auto;
    }

    .sectionTitle {
        margin: 15px 0;
    }

    .needService {
        margin-top: 5%;

    }
}

/* services  */